<div class="player-container">
  <mat-card>
    <mat-card-content>
      <!-- Video -->
      <div #videoWrapper class="video_wrapper">
        <video
          #videoPlayer
          class="video"
          [class.video--big]="isBig"
          [class.video--fullscreen]="isFullscreen"
          preload="metadata"
          (click)="togglePlay()"
        >
          <source src="assets/video/video.mp4" type="video/mp4" />
        </video>

        <!-- Overlay -->
        <div class="controls-overlay">
          <!-- Progress Bar -->
          <div class="progress-container">
            <span class="time">
              {{ formatTime(currentTime) }}
            </span>

            <div
              #progressBar
              class="progress"
              (click)="onProgressBarClick($event)"
              (mousedown)="startDrag()"
              (mousemove)="drag($event)"
              (mouseup)="stopDrag()"
              (mouseleave)="stopDrag()"
            >
              <div class="progress__filled" [style.width.%]="progress"></div>

              <div class="progress__thumb" [style.left.%]="progress"></div>
            </div>

            <span class="time">
              {{ formatTime(duration) }}
            </span>
          </div>

          <!-- Controls -->
          <div class="controls__bar">
            <div class="controls__bar__player">
              <div class="controls__group controls__group--left">
                <!-- Replay 10 -->
                <button
                  (click)="rewind10()"
                  title="Retroceder 10 segundos"
                  aria-label="Retroceder 10 segundos"
                >
                  <mat-icon class="control__bar__player__icon"
                    >replay_10</mat-icon
                  >
                </button>

                <!-- Play / Pause -->
                <button
                  (click)="togglePlay()"
                  [class.active]="isPlaying"
                  [attr.aria-label]="isPlaying ? 'Pause' : 'Play'"
                  [title]="isPlaying ? 'Pause' : 'Play'"
                >
                  <mat-icon class="control__bar__player__icon">
                    {{ isPlaying ? "pause" : "play_arrow" }}
                  </mat-icon>
                </button>

                <!-- Forward 10 -->
                <button
                  (click)="forward10()"
                  title="Avançar 10 segundos"
                  aria-label="Avançar 10 segundos"
                >
                  <mat-icon class="control__bar__player__icon"
                    >forward_10</mat-icon
                  >
                </button>
              </div>

              <div class="controls__group controls__group--right">
                <!-- Mute -->
                <button
                  (click)="toggleMute()"
                  [class.active]="isMuted"
                  [attr.arial-label]="isMuted ? 'Unmute' : 'Mute'"
                  [title]="isMuted ? 'Unmute' : 'Mute'"
                >
                  <mat-icon class="control__bar__player__icon">
                    {{ isMuted ? "volume_off" : "volume_up" }}
                  </mat-icon>
                </button>
                <!-- Speed-->
                <button
                  (click)="forward()"
                  title="Velocidade 2x"
                  aria-label="Velocidade 2x"
                >
                  <mat-icon class="control__bar__player__icon"
                    >fast_forward</mat-icon
                  >
                </button>

                <!-- Fullscreen -->
                <button
                  (click)="toggleSize()"
                  [class.active]="isBig"
                  [attr.arial-label]="isBig ? 'Small' : 'Big'"
                  [title]="isBig ? 'Small' : 'Big'"
                  class="controls__bar__screen"
                >
                  <mat-icon class="controls__bar__screen__icon">
                    {{ isBig ? "close_fullscreen" : "open_in_full" }}
                  </mat-icon>
                </button>

                <!-- Fullscreen -->
                <button
                  (click)="toggleFullscreen()"
                  class="controls__bar__screen"
                >
                  <mat-icon class="controls__bar__screen__icon">
                    {{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}
                  </mat-icon>
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
