mat-card {
  display: flex;
  padding: 20px;
  background-color: var(--color-bg-card);
}

.mat-mdc-card-content {
  padding: 0 !important;
}

mat-card-title {
  color: var(--color-text);
  font-size: 25pt;
}

.mat-mdc-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
}

.mat-mdc-card-content {
  padding: 10px 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video {
  display: block;
  border-radius: 12px;
  background-color: var(--color-bg);
  width: 640px;
  height: 360px;
  transition: all 0.3s ease;
}

.video--big {
  border-radius: 12px;
  width: 1280px;
  height: 720px;
}

.mode {
  display: flex;
  align-items: flex-end;
  justify-items: flex-end;
  color: var(--color-text);
}

.mode__lamp {
  align-items: center;
  margin-left: 5px;
  border-color: var(--color-mode);
}

.mode__lamp--light,
.mode__lamp--dark {
  color:var(--color-mode);
  font-size: 18pt;
}


.controls__bar__player {
  background-color: var(--color-bg-card);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0 14px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.068);
  min-height: 30px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.control__bar__player__voloff,
.control__bar__player__replay10,
.control__bar__player__play,
.control__bar__player__pause,
.control__bar__player__forward10,
.control__bar__player__fastforward,
.controls__bar__screen__small,
.controls__bar__screen__big {
  padding: 10px;
  background-color: var(--color-bg);
  color: var(--color-player);
}

.control__bar__player__pause,.control__bar__player__play:active {
  color: var(--color-mode);
}

.controls__bar__screen__icon {
  font-size: 18px;
}

.control__bar__player__icon{
  font-size: 25px;
}
