/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #0f0f12 0%, #1a1a2e 100%);
  background-attachment: fixed;
}

* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
}

:root {
  --color-primary: #603ab8;
  --color-player: #fdfdfd;
  --color-text: #fff;
  --color-bg-card: rgba(0, 0, 0, 0.363);
}

.mat-card-header .mat-card-title {
  font-size: 24px;
}

.speed-menu {
  background:  rgba(37, 37, 37, 0.158) !important;
  border-radius: 12px !important;
  padding: 0 6px !important;
}

.cdk-overlay-pane .speed-menu {
  transform: translateY(-30px) !important;
}

.mat-mdc-menu-panel {
  min-width: 75px !important;
}

.speed-menu .mat-mdc-menu-item {
  min-height: 28px !important;
  height: 28px !important;
  line-height: 28px !important;

  font-size: 12px !important;
  padding: 0 12px !important;
  margin: 2px 0 !important;
  color: #ffffff;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.speed-menu .mat-mdc-menu-item:hover {
  background: var(--color-primary) !important;
}

.speed-menu .active {
  background: var(--color-primary) !important;
  font-weight: bold !important;
}
