/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #0f0f12 0%, #1a1a2e 100%);
  background-attachment: fixed;
}

* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
}

:root {
  --color-primary: #5622b2;
  --color-player: #fdfdfd;
  --color-text: #fff;
  --color-bg-card: rgba(0, 0, 0, 0.363);
}

.mat-card-header .mat-card-title {
  font-size: 24px;
}
